dist/

https://techxuexi.js.org/jump/techxuexi-20211023.html?https%3A%2F%2Flogin.xuexi.cn%2Flogin%2Fqrcommit%3Fshowmenu%3Dfalse%26code%3Dqr%3A5F1299FA-028E-4F8D-B000-9394F709C2E0%26appId%3Ddingoankubyrfkttorhpou
https://techxuexi.js.org/jump/techxuexi-20211023.html?https%3A%2F%2Flogin.xuexi.cn%2Flogin%2Fqrcommit%3Fshowmenu%3Dfalse%26code%3Dqr%3AF1EFE227-9B00-4AA5-B952-587FAA84FCF6%26appId%3Ddingoankubyrfkttorhpou